.page {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mainPage,
.userPage {
  align-items: center;

  .title {
    margin-bottom: 20px;
    font-size: 30px;
    color: #565656;
  }
}
