.item {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 80px;
  grid-column-gap: 30px;
  padding: 15px 30px;
  border-bottom: 2px solid #c7c7c7;
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    background-color: #efefef;
  }
}

.name,
.data {
  font-size: 14px;
  color: #565656;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
