.container {
  display: grid;
  justify-content: center;
  grid-template-rows: 200px 1fr;
  grid-row-gap: 30px;
  padding: 30px 15px 10px 15px;
  width: 100%;
}

.mainData {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 50px;
  width: 100%;
}

.avatarContainer {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.avatar {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profileData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.data {
  color: #565656;
  font-size: 14px;
}

.bio {
  text-align: center;
  color: #565656;
  font-size: 14px;
}

.notFound {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #565656;
}
